* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background: #eee;
    font-family: 'Lato', sans-serif;
    min-width: 320px;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
  }
  
  #header {
    background-color: #eee;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: space-between;
  }
  
  @media(max-width: 445px) {
    #header {
      flex-direction: column;
    }
  }
  
  #header .logo {
  /*   border: 2px solid red; */
    width: 50%;
    padding: 10px;
  }
  
  #header .logo img {
    height: 30px;
    width: 250px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
  #header .nav-bar {
  /*   border: 2px solid blue; */
    margin-right: 2%;
    line-height: 50px;
    width: 40%;
  }
  
  @media(max-width: 445px) {
    #header .nav-bar {
      align-self: center;
    }
  }
  
  @media(max-width: 700px) {
    #header .nav-bar {
      line-height: 18px;
    }
  }
  
  #header .nav-bar #nav-bar ul {
    list-style: none;
    margin-right: 5%;
    
    display: flex;
    justify-content: space-around;
  }
  
  @media(max-width: 700px){
    #header .nav-bar #nav-bar ul {
      flex-direction: column;
      align-items: center;
    }
  }
  
  #header .nav-bar #nav-bar ul li {
    margin-right: 2%;
  }
  
  #header .nav-bar #nav-bar ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  
  .container {
  /*   border: 2px solid green; */
    margin-top: 70px;
    width: 95%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  
  @media (max-width: 445px) {
    .container {
      margin-top: 115px;
    }
  }
  
  @media (max-width: 700px) {
    .container .form-header {
      text-align: center;
    }
  }
  
  .container .form-header {
    font-weight: bold;
    font-size: 22px;
  }
  
  .container #form {
  /*   border: 2px solid brown; */
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container #form .email-field {
  /*   border: 2px solid yellow; */
    width: 80%;
    margin-top: 15px;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: center;
  }
  
  .container #form .email-field #email {
    width: 280px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  
  .container #form .submit-button {
    padding-bottom: 10px;
  }
  
  .container #form .submit-button #submit {
    font-size: 16px;
    font-weight: 800;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #ffcc00;
    padding: 5px 25px 5px 25px;
  }
  
  .main-container #features {
  /*   border: 2px solid pink; */
    width: 100%;
    margin-top: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media(max-width: 700px) {
    .main-container #features {
      width: 95%;
    } 
  }
  
  .main-container #features .in-features {
  /*   border: 2px solid lightgreen; */
    width: 55%;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media(max-width: 700px) {
    .main-container #features .in-features {
      margin-top: 50px;
    }
  }
  
  .main-container #features .in-features .content-container {
  /*   border: 2px solid orange; */
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0px;
  
    display: flex;
    flex-direction: row;
  }
  
  .main-container #features .in-features .content-container i {
    color: darkorange;
    margin-top: 15px;
  }
  
  @media(max-width: 700px) {
    .main-container #features .in-features .content-container i {
      display: none;
    }
  }
  
  .main-container #features .in-features .content-container .premium-materials {
    margin-bottom: 15px;
  /*   border: 2px solid cyan; */
    margin-left: 65px;
    width: 850px;
  }
  
  @media(max-width: 700px) {
    .main-container #features .in-features .content-container .premium-materials {
      margin: 0px;
      text-align: center;
    }
  }
  
  .main-container #features .in-features .content-container .fast-shipping {
    margin-left: 55px;
  /*   border: 2px solid cyan; */
    width: 830px;
  }
  
  @media(max-width: 700px){
    .main-container #features .in-features .content-container .fast-shipping {
      margin: 0px;
      text-align: center;
    }
  }
  
  .main-container #features .in-features .content-container .quality-assurance {
    margin-left: 40px;
  /*   border: 2px solid cyan; */
    width: 850px;
  }
  
  @media(max-width: 700px){
    .main-container #features .in-features .content-container .quality-assurance {
      margin: 0px;
      text-align: center;
    }
  }
  
  .main-container #HowItWork {
  /*   border: 2px solid purple; */
    width: 100%;
    
    display: flex;
    justify-content: center;
  }
  
  .main-container #HowItWork iframe {
    width: 570px;
  }
  
  .main-container #Pricing {
  /*   border: 2px solid brown; */
    margin-top: 70px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    
    display: flex;
    justify-content: center;
  }
  
  .main-container #Pricing .tenor-trombone {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 300px;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-container #Pricing .tenor-trombone .title {
    background-color: #ddd;
    color: black;
    padding: 5px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    height: 50px;
    line-height: 45px;
  }
  
  .main-container #Pricing .tenor-trombone h2 {
    margin-top: 15px;
  }
  
  .main-container #Pricing .tenor-trombone ol {
    margin-top: 10px;
  }
  
  .main-container #Pricing .tenor-trombone ol li {
    list-style: none;
    padding-bottom: 8px;
    margin-top: 5px;
  }
  
  .main-container #Pricing .tenor-trombone button {
    font-size: 18px;
    font-weight: lighter;
    background-color: #ffcc00;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
  }
  
  .main-container #Pricing .tenor-trombone button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  .main-container .footer {
    width: 95%;
  /*   border: 2px solid blue; */
    
    display: flex;
    flex-direction: column;
  }
  
  .main-container .footer footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .main-container .footer footer ul {
    display: flex;
    justify-content: flex-end;
  }
  
  .main-container .footer footer ul li {
    list-style: none;
    padding: 0 10px;
  }
  
  .main-container .footer footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
  }
  
  .main-container .footer footer span {
    display: flex;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  
  @media(max-width: 930px) {
    .main-container #Pricing {
      flex-direction: column;
      align-items: center;
    }
    
    .main-container #Pricing .tenor-trombone {
      max-width: 300px;
    }
    
  }
  